# Virtual Environment
.venv/
venv/
env/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*.so
.Python

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Model files (большие бинарные файлы)
*.h5

# Data
data/
*.xlsx
*.csv

# Logs
*.log